@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

@*Go to the ProjectsListViewModel class and only pull out the "Projects" portion*@
@*Save it as x and send it to the partial view: "ProjectSummary" *@
@foreach (var x in Model.Projects)
{
    <partial name="ProjectSummary" model="x" />
}


@*All of this stuff is used to set things in the "PageLinkTagHelper" class*@
<div page-model="@Model.PagingInfo" 
     page-action="Index" 
     page-classes-enabled="true" 
     page-class="btn" 
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" 
     page-url-category="@Model.Type"
     class="btn-group pull-right m-1"></div>